body {
    text-align: center;
}

ul#itemList {
    padding-left: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

li {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

li button {
    border: none;
    color: #888;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

li span {
    font-size: 16px;
    font-weight: bold;
}

.Done {
    text-decoration: line-through;
    opacity: 0.6;
}